<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tourguide|home</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    
    <header> 
        <div class="icon"> </div>
        <div class="heads"> 
          TOUR GUIDE
    </div></header>

    <div class="btnbox1" id="btnbox1"> <p> Sign in</p></div>

    <div class="content"> <p class="first"> CHOOSE DESTINATION ,</p><p class="second"> WE FIND THE PACKAGE</BR></p></div>

    <div class="disp"> <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.Expedita similique  </p> <p> Molestias error quos sit ut officiis?</p></div>

    <div class="btnbox" id="btnbox"> <p> DISCOVER</p></div>

    <script src="/index.js"></script>
  </body>
</html>
